// Colors

$white: #fff;
$black: #000;
$blue: lightblue;
$purple: #7957d5;
$red: #B44545;

$bars-bg: #F1F0F0;
$bars-over: #D8D8D8;

// button colors
$button-primary: #000;
$button-secondary: #3674AD;
$button-disabled: #aaa;

// Breakpoints
$xxxsmall: 320px;
$xxsmall: 375px;
$xsmall: 425px;
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$xxlarge: 1440px;
$xxxlarge: 1920px;
