@import 'variables';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
::selection {
  background-color: $blue !important;
}
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  background: $white;
  line-height: 1.2;
}
small {
  font-size: .80rem;
}
.wrapper {
  padding: 0 1rem;
  max-width: 1600px;
  margin: 0 auto;
}
.sticky {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}
.modal-container {
  background: $white;
  margin: 1rem;
}

p {
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 1em;
}
strong {
  font-weight: 700;
}
.quillWrapper {
  .ql-editor {
    max-height: 400px;
    overflow-y: auto;
  }
  p {
    margin-bottom: 1em !important;
  }
  sup {
    font-size: 55%;
    line-height: 0.8;
    vertical-align: top;
  }
  sub {
    font-size: 55%;
    line-height: 0.8;
  }
  .ql-reg,
  .ql-nbsp,
  .ql-trade,
  .ql-copy,
  .ql-dagger,
  .ql-aelig {
    width: auto !important;
    font-weight: bold;
    display: flex !important;
    justify-content: center;
    align-items: center;
    min-width: 28px;
  }
  .ql-reg::after {
    content: '®';
    font-size: 20px;
    margin-top: 6px;
  }
  .ql-nbsp::after {
    content: '&nbsp;';
  }
  .ql-trade::after {
    content: '™';
  }
  .ql-copy::after {
    content: '©';
  }
  .ql-dagger::after {
    content: '†';
  }
  .ql-aelig::after {
    content: 'æ';
  }
}

.flex {
  display: flex;
}
.relative {
  position: relative;
}
.field-row {
  .field {
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}
strong {
  color: inherit;
}
.link-button.is-link {
  color: $black;
  padding: 0;
  box-shadow: none;
  background: none;
  border: none;
  height: auto;
  &:hover,
  &:focus {
    text-decoration: underline;
    box-shadow: none;
    background: none;
    border: none;
    color: $black;
  }
}
.merge-button {
  border-radius: 0;
  border: none;
  outline: none;
  &:focus:not(:active) {
    box-shadow: none;
  }
  &:last-child {
    margin-bottom: 0;
  }

  &.primary {
    color: $white;
    background: $button-primary;
    border: 1px solid transparent;
    &:hover,
    &:focus,
    &.active {
      background: $white;
      color: $button-primary;
      border: 1px solid $button-primary;
    }
  }
  &.secondary {
    color: $white;
    background: $button-secondary;
    border: 1px solid transparent;
    &:hover,
    &:focus,
    &.active {
      background: $white;
      color: $button-secondary;
      border: 1px solid $button-secondary;
    }
  }
  &[disabled] {
    background: $button-disabled;
  }
}
// Scroll
.custom-scroll::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
.custom-scroll::-webkit-scrollbar-track {
  margin: 24px 0 23px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.45);
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.55);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
